# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.CargoGo.Api.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Cargo\backend\.idea\.idea.CargoGo.Api.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
